<footer>
    <div class="full-footer">
      <div class="container">
        <div class="row footer-columns">
          <div class="col-xl-4 col-lg-4 col-md-4">
            <h3>RoadLink</h3>
            <p>Opis firmy opis firmy. Opis firmy opis firmy opis firmy</p>
            <p>Opis firmy opis firmy opis firmy opis firmy opis firmy opis firmy opis firmy opis firmy opis firmy opis firmy opis firmy opis firmy opis firmy</p>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4">
              <h3>Działalność:</h3>
              <p>Ogłoszenia</p>
              <p>Cennik</p>
              <p>Regulamin</p>
              <p>Polityka Prywatności</p>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4">
              <h3>Dane kontaktowe:</h3>
              <p>adres ...</p>
              <p>tel: 000-000-000</p>
              <p>e-mail: email@email.pl</p>
              <p>inne</p>
          </div>
        </div>

        <div class="copyright row">
          <div class="col-md-6 col-sm-6">
            &copy; Copyright 2018
          </div>
          <div class="col-md-6 col-sm-6 align-left">
              Designed by Piotr Jurkiewicz
          </div>
        </div>
      </div>
    </div>
  </footer>
