<section id="carousel-gallery">
  <div id="carOousel" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carOousel" data-slide-to="0" class="active"></li>
      <li data-target="#carOousel" data-slide-to="1"></li>
      <li data-target="#carOousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <img class="d-block w-100" src="assets/img/modelcar1.jpg" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide</h5>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="assets/img/modelcar2.jpg" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide</h5>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="assets/img/modelcar3.jpg" alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide</h5>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </div>
  <a class="carousel-control-prev" href="#carOousel" role="button" data-slide="prev">
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carOousel" role="button" data-slide="next">
    <span class="sr-only">Next</span>
  </a>
  </div>
  </div>
</section>

<div class="sections">

  <section id="oferta" class="odd-section">
    <div class="full-oferta">
      <div class="container">

        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-4">
            <div class="offert-header">
              <h2>Bezpieczeństwo</h2>
            </div>
            <div class="offert-text">Text text text text text text text text text text text text text text text text text text text text text text
              text text text text text text text text text</div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4">
            <div class="offert-header">
              <h2>Jakość transportu</h2>
            </div>
            <div class="offert-text">
              <ul>
                <li>Text text text</li>
                <li>Text text text</li>
                <li>Text text text</li>
                <li>Text text text</li>
              </ul>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4">
            <div class="offert-header">
              <h2>Kwalifikacje</h2>
            </div>
            <div class="offert-text">
              <p>Certyfikaty kierowcow</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="oferta2" class="even-section">
    <div class="full-oferta2">
      <div class="container">

        <div class="row">
          <div class="col-xl-5 col-lg-5 col-md-12">
            <img src="assets/img/responsive.png" alt="" class="img-fluid">
          </div>
          <div class="text-mobile col-xl-4 col-lg-4 col-md-7">
            Aplikacja dostosowana do rożnych urządzeń w rożnych rozdzielczościach. Zawsze pod ręką, dzięki zewnętrznym aplikacjom na
            telefony z systemem Android i iOS.
          </div>
          <div class="download-app col-xl-3 col-lg-3 col-md-5">
            <p class="flex-item">Pobierz aplikację:</p>
            <a href="#">
              <img class="flex-item googleplay" src="assets/img/Google_Play_logo.svg" alt="">
            </a>
            <a href="#">
              <img class="flex-item" src="assets/img/App_Store.svg" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="oferta" class="odd-section map-section">
    <div class="full-oferta">
      <div class="container">
        <div>
          <h3>Lokalizacja firmy</h3>
        </div>

        <div class="google-map">
          <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCFjL03hTLhsDxHC57aIRqjfb-7P8BG_zQ&amp;q=place_id:ChIJYUAVHhRXIkcRX-no9nruKFU"
            allowfullscreen=""></iframe>
        </div>

      </div>
    </div>
  </section>

  <section id="oferta2" class="even-section gallery-section">
    <div class="full-oferta2">
      <div class="container">
        <h2 class="gallery-header">GALERIA</h2>

        <div class="row">

          <div class="col-12 col-md-6 mb-4 col-lg-4">
            <div class="card flip-card">
              <div class="front-card token">
                <img src="assets/img/modelcar1.jpg" alt="">
              </div>
              <div class="back-card token">
                <h4>
                  Niezawodne busy
                </h4>
                <p>
                  Text text text text text text text text text text text text text text text text text. Text text text text text text text
                  text text text text text text text text text text.
                </p>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 mb-4 col-lg-4">
            <div class="card flip-card">
              <div class="front-card token">
                <img src="assets/img/modelcar2.jpg" alt="">
              </div>
              <div class="back-card token align-center">
                <h4>
                  Dogodne trasy
                </h4>
                <p>
                  Text text text text text text text text text text text text text text text text text.
                </p>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 mb-4 col-lg-4">
            <div class="card flip-card">
              <div class="front-card token">
                <img src="assets/img/modelcar3.jpg" alt="">
              </div>
              <div class="back-card token align-center">
                <h4>
                  Szybkość działania
                </h4>
                <p>
                  Text text text text text text text text text text text text text text text text text text text text text text text text text.
                </p>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 mb-4 col-lg-4">
            <div class="card flip-card">
              <div class="front-card token">
                <img src="assets/img/modelcar1.jpg" alt="">
              </div>
              <div class="back-card token align-center">
                <h4>
                  Szeroka oferta
                </h4>
                <p>
                  Text text text text text text text text text text text text text text text. Text text text text text text text.
                </p>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 mb-4 col-lg-4">
            <div class="card flip-card">
              <div class="front-card token">
                <img src="assets/img/modelcar2.jpg" alt="">
              </div>
              <div class="back-card token align-center">
                <h4>
                  Dobra lokalizacja przystankow
                </h4>
                <p>
                  Text text text text text text text text text text text text text text text text text text text text text text text text text
                  text text.
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

</div>
