<div class="row">
  <div class="col-xl-4 col-lg-4 col-md-4">
    <div class="offert-header">
      <h2>Bezpieczeństwo</h2>
    </div>
    <div class="offert-text">Text text text text text text text text text text text text text text text text text text text text text text
      text text text text text text text text text</div>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-4">
    <div class="offert-header">
      <h2>Jakość transportu</h2>
    </div>
    <div class="offert-text">
      <ul>
        <li>Text text text</li>
        <li>Text text text</li>
        <li>Text text text</li>
        <li>Text text text</li>
      </ul>
    </div>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-4">
    <div class="offert-header">
      <h2>Kwalifikacje</h2>
    </div>
    <div class="offert-text">
      <p>Certyfikaty kierowcow</p>
    </div>
  </div>
</div>
