<h2 class="gallery-header">GALERIA</h2>

  <div class="row">

    <div class="col-12 col-md-6 mb-4 col-lg-4">
      <div class="card flip-card">
        <div class="front-card token">
          <img src="assets/img/modelcar1.jpg" alt="">
        </div>
        <div class="back-card token">
          <h4>
            Niezawodne busy
          </h4>
          <p>
            Text text text text text text text text text text text text text text text text text. Text text text text text text text
            text text text text text text text text text text.
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 mb-4 col-lg-4">
      <div class="card flip-card">
        <div class="front-card token">
          <img src="assets/img/modelcar2.jpg" alt="">
        </div>
        <div class="back-card token align-center">
          <h4>
            Dogodne trasy
          </h4>
          <p>
            Text text text text text text text text text text text text text text text text text.
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 mb-4 col-lg-4">
      <div class="card flip-card">
        <div class="front-card token">
          <img src="assets/img/modelcar3.jpg" alt="">
        </div>
        <div class="back-card token align-center">
          <h4>
            Szybkość działania
          </h4>
          <p>
            Text text text text text text text text text text text text text text text text text text text text text text text text text.
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 mb-4 col-lg-4">
      <div class="card flip-card">
        <div class="front-card token">
          <img src="assets/img/modelcar1.jpg" alt="">
        </div>
        <div class="back-card token align-center">
          <h4>
            Szeroka oferta
          </h4>
          <p>
            Text text text text text text text text text text text text text text text. Text text text text text text text.
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 mb-4 col-lg-4">
      <div class="card flip-card">
        <div class="front-card token">
          <img src="assets/img/modelcar2.jpg" alt="">
        </div>
        <div class="back-card token align-center">
          <h4>
            Dobra lokalizacja przystankow
          </h4>
          <p>
            Text text text text text text text text text text text text text text text text text text text text text text text text text
            text text.
          </p>
        </div>
      </div>
    </div>
  </div>
